@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.bg {
    background: linear-gradient(90deg, #9333EA 0%, #2563EB 100%);
}
html,body {
    scroll-behavior: smooth;
}

header {
    &>div{ 
        position: relative;
    }
    @media (max-width:1024px) {
        padding: 22px 50px;
    }
      @media (max-width:768px) {
        padding: 22px 0;
    }
 .logo {
    @media (max-width:768px) {
        margin-left: 20px;
    }
 }
 .user {
    @media (max-width:768px) {
        margin-right: 20px;
    }
 }
.menu {
    @media (max-width:768px) {
        position: absolute;
        background-color: white;
        top: 63px;

        width: 100%;
        &>ul {
            flex-direction: column;
                    align-items: start;
        justify-content: flex-start;
        padding-block: 20px;
        padding-inline: 20px;
        }
    }
}
    .Menu_btn {
        display: none;
        @media (max-width:768px) {
            display: flex;
        }
    }
    .disableMenu {
        @media (max-width:768px) {
        opacity: 0;
        visibility: hidden;
        transition: .4s;
        }
    }
    .activeMenu {
        @media (max-width:768px) {
            width: 100% !important;
       visibility: visible;
        opacity: 1;
        transition: .4s;
        }       
    }
    .disableFirst {
        @media (max-width:768px) {
            opacity: 0;
            visibility: hidden;
        }
    }
}
button {
    outline: none;
}
.banner_container {
    @media (max-width:768px) {
        gap: 50px;
        &>div:first-child {
            margin-top: 20px;
        }
    }
    p {
        @media (max-width:  768px) {
            font-size: 40px;
            max-width: 300px;
        }
    }
    button {
        @media (max-width:768px) {
            padding: 10px 20px;
            font-size: 15px;
        }
    }
    video {
        @media (max-width:768px) {
            width: 400px;
            height: 470px;
        }
    }
}
.Access_container {
      @media (max-width:707px) {
               gap: 30px;
        }
    .logo {
        @media (max-width:707px) {
                font-size: 40px;
        }
    }
    @media (max-width:1024px) {
        padding: 130px 50px;
    }
      @media (max-width:768px) {
        padding: 100px 20px;
    }
    .points {
        width: 32px;
        height: 32px;
        border-radius: 99999px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:'Poppins Bold';
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        line-height: 1;

    }

    &>div:nth-child(2) {
        height: 331px;
        @media (max-width:1093px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: auto;
         
        }

        @media (max-width:511px) {
            gap:20px;
        }
        @media (max-width:473px) {
            padding-inline: 40px;
            grid-template-columns: 1fr;
        }
        @media (max-width:419px) {
            padding-inline:0;
        }
        &>div:nth-child(3) {
                &>div:last-child  {
                    &>div:last-child {
margin-top: 9px;
                    }
                }
        }
        &>div:last-child h1 {
            color:#6B7280
        }
        .icon_box {
            @media (max-width:1198px) {
                width: 60px !important;
                height: 60px !important;
                flex-shrink: 0;
            }
        }
         
        p {
            color: #475569;
            font-family: 'Poppins Regular';
            font-size: 14px;
            text-align: center;
            @media (max-width:1082px) {
    font-size: 13px;
}
        }
            h1 {
       color: #1E293B;
text-align: center;
font-size: 20px;
font-family: 'Poppins Bold';       
@media (max-width:1342px) {
    font-size: 15px;
}
@media (max-width:1082px) {
    font-size: 13px;
}
    }
        &>div:first-child {
            border: 1px solid #F3E8FF;
        }
        &>div:nth-child(2) {
           border: 1px solid #FCE7F3;
        }
        &>div:nth-child(3) {
            border: 1px solid #DBEAFE;
        }
        &>div:last-child {
            border: 1px solid #E5E7EB;
        }
        &>div {
         @media (max-width:1093px) {
            
            flex: none;
         }
            box-shadow: 0px 20px 25px 0px #0000001A;

box-shadow: 0px 8px 10px 0px #0000001A;
border-radius: 48px;
padding: 33px; 
flex: 1;
display: flex;
align-items: center;
justify-content:flex-start;
flex-direction: column;
gap: 24px;
&>div:first-child {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
        }
    }
}

.trustus_container {
    &>div {
          @media (max-width:1024px) {
        padding: 100px 50px;
    }
      @media (max-width:768px) {
        padding: 80px 20px;
    }
        h1 {
            @media (max-width:1139px) {
                font-size: 40px;
            }
        }
        &>div:last-child {
            @media (max-width:607px) {
                grid-template-columns: 1fr;
            }
            p {
                @media (max-width:913px) {
                    font-size: 13px;
                }
            }
        }
    }
}

.plans_container {



margin-top: 98px;
margin-bottom: 135px;

&>div {
     border-radius: 48px;
     margin-inline: 80px;
 @media (max-width:1024px) {
        margin: 22px 50px !important;
    }
      @media (max-width:768px) {
        margin: 22px 20px !important;
    }
    @media (max-width:1137px) {
        padding: 35px 50px;
    }
     @media (max-width:861px) {
        padding: 35px 30px;
    }
    .grid {
       @media (max-width:693px) {
        grid-template-columns: 1fr;
       }
    }
    h1 {
         @media (max-width:1137px) {
        font-size: 30px;
        max-width: 300px;
    }
    }
    p {
          @media (max-width:1137px) {
        font-size: 14px;
        max-width: 300px;
    }
       @media (max-width:693px) {
        max-width: 100%;
       }
    }
box-shadow: 0px 4px 6px 0px #0000001A;
    border: 1px solid #F3F4F6;box-shadow: 0px 10px 15px 0px #0000001A;
}
}
.otziv_container {
   margin-top: 98px;
margin-bottom: 135px; 
&>div {
      border-radius: 48px;
     margin-inline: 80px;
     box-shadow: 0px 4px 6px 0px #0000001A;
    border: 1px solid #F3F4F6;box-shadow: 0px 10px 15px 0px #0000001A;
 @media (max-width:1024px) {
        margin: 22px 50px !important;
    }
      @media (max-width:768px) {
        margin: 22px 20px !important;
    }
    @media (max-width:1137px) {
        padding: 35px 50px;
    }
     @media (max-width:861px) {
        padding: 35px 30px;
    }
    .bottom_bar {
        .flag_ca {
            display: flex;
            align-items: center;
            &::before {
                content: url('/ca.svg');
                margin-top: -15px;
                margin-right: 2px;
            }
        }
         .flag_ca2 {
            display: flex;
            align-items: center;
            &::before {
                content: url('/ca.svg');
                margin-top: 1px;
                margin-right: 2px;
            }
        }
         .flag_gb {
            display: flex;
            align-items: center;
            &::before {
                content: url('/uk.svg');
                margin-top: 3px;
                margin-right: 2px;
            }
        }
           .flag_us {
            display: flex;
            align-items: center;
            &::before {
                content: url('/us.svg');
                margin-top: 2px;
                margin-right: 2px;
            }
        }
       &>div:nth-child(2) {
        overflow-x: auto;
        &>div {
            @media (max-width:469px) {
            width: 210px;
            padding: 10px;
            border-radius: 20px;
            }
        }
       }
        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50px;
        }
       .stars {
        display: flex;
        img {
            width: 16px;
            height: 16px;
        }
       }
       .grid {
        grid-gap: 40px;
        @media (max-width:1336px) {
            // grid-template-columns: 1fr 1fr;
        }
       }
        .verif {
            color: #16A34A;
            font-size: 12px;
         display: flex;
@media (max-width:3) {

}
            &::before {
                content: url('/verif.svg');
                margin-right: 4px;
                transform: translateY(1.5px);
            
               
            }
        }
    }
    .top_bar {
        .points {
            @media (max-width:865px) {
                &>div {
                    flex: 1;
                }
                flex-wrap: wrap;
                justify-content: center;
                gap: 14px;
            }
        }
        .title {
            @media (max-width:865px) {
                font-size: 35px;
            }
        }
        h1 {
            @media (max-width:865px) {
                font-size: 17px;
            }
        }
        .img {
          @media (max-width:865px) {
            transform: scale(0.8);
            margin-bottom: 10px;
          }
        }
        .titles {
            @media (max-width:865px) {
                margin-top: 0;
                h1 {
                    font-size: 14px;
                    max-width: 100px;
                    text-align: center;
                }
            }
        }
    }
}
}

.Questions_container {
        @media (max-width:1024px) {
        padding: 22px 50px;
    }
      @media (max-width:768px) {
        padding: 22px 20px;
    }
    .info_box {
        h1 {
             @media (max-width:1139px) {
                font-size: 40px;
            }
        }
    }
    .items {
         p {
                    font-size: 16px;
                    color: #6B7280;
                    
                }
        &>div {
            border: 1px solid #E5E7EB;
            background: #F8FAFC;
            border-radius: 48px;
            padding-inline: 24px;
            padding-block: 20px;
            
            display: flex;
            flex-direction: column;
            gap: 20px;
            &>div:first-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1 {
                    color:#1F2937;
                    font-weight: 600;
                    font-size: 18px;
                }
               
           .Active{
            transform: rotate(0deg);
            transition: .4s;
           }
           .Disable {
             transform: rotate(180deg);
            transition: .4s;
           }
            }
        }
    }
}
.InfoBlock_container {
    padding-inline:80px ;
    @media (max-width:1024px) {
        padding: 22px 50px;
    }
      @media (max-width:768px) {
        padding: 22px 20px;
    }
    .title {
          @media (max-width:1139px) {
                font-size: 30px;
            }
    }
    .bottom_bar {
        @media (max-width:668px) {
            flex-direction: column;
            align-items: center;
        }
    }
}
footer {
    .footer_top_bar {
        .menu {
            @media (max-width:379px) {
                flex-direction: column;
                gap: 5px;
                margin-top: 20px;
            }
        }
        h1 {
            @media (max-width:787px) {
                font-size: 30px;
            }
             @media (max-width:431px) {
                font-size: 20px;
            }
        }
         .mail{
            @media (max-width:787px) {
                font-size: 20px;
            }
             @media (max-width:431px) {
                font-size: 14px;
            }
        }
           p{
            @media (max-width:787px) {
                font-size: 20px;
                text-align: end;
            }
             @media (max-width:431px) {
                font-size: 14px;
                max-width: 150px;
            }
        }
        a {
            @media (max-width:787px) {
                font-size: 14px;
            }
        }
          @media (max-width:1024px) {
        padding: 22px 50px;
    }
      @media (max-width:768px) {
        padding: 22px 20px;
    }
    }
    .footer_bottom_bar {
          @media (max-width:1024px) {
        padding: 22px 50px;
    }
      @media (max-width:768px) {
        padding: 22px 20px;
    }
        @media (max-width:825px) {
            flex-direction: column;
            gap: 10px;
        }
    }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  
  animation: scroll 60s linear infinite;
  @media (max-width:1000px) {
    gap: 30px;
  }
  .sun {
    width: 99px;
    height: 30px;
  }
  .complex {
        width: 116px;
        height: 30px;
  }
  img {
    width:154px;
    height: 30px;
    @media (max-width:1000px) {
        transform: scale(0.7);
    }
  }
}
.scroll_box {
    &::-webkit-scrollbar {
        width: 0;
    }
}
.section  {
    @media (max-width:1148px) {
      --tw-translate-x: 0;
    translate: var(--tw-translate-x) var(--tw-translate-y);
    }
}
.scrol_box {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cbd5e1 transparent;
  @media (max-width:1396px) {
   --tw-translate-x: -100px;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
   @media (max-width:888px) {
   --tw-translate-x: -50px;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
    @media (max-width:466px) {
   --tw-translate-x:0;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  &>div {
       @media (max-width:464px) {
        gap: 20px;
      
    }
  }
  p {
    @media (max-width:800px) {
        font-size: 14px;
        max-width: 300px;
    }
      @media (max-width:464px) {
        font-size: 14px;
        max-width: 200px;
    }
  }
   h1 {
    @media (max-width:800px) {
        font-size: 24px;
        max-width: 300px;
    }
     @media (max-width:464px) {
        font-size: 24px;
        max-width: 200px;
    }
  }
}

/* WebKit браузеры */
.scrol_box {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

}

.scrol_box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.emoji {
    @media (max-width:1116px) {
        left: 70%;
    }
    @media (max-width:758px) {
        transform: scale(0.7);
        width: 70px;
    }
}
.success {
    box-shadow: 0px 20px 25px 0px #0000001A;

box-shadow: 0px 8px 10px 0px #0000001A;

}